h3{
    color: rgb(10, 101, 247);
}
body{
    margin: 25%;
    border: 3px double black;
    padding: 5%;
}

#info{
    overflow: hidden;
    align-content: center;
    margin: 1em;
}

#profile{
    width: 60;
    float: left;
}

#image{
    width: 40;
    float: right;

}

#dp{
    width: 150px;
    border-radius: 50%;
}

table{
    border-style:thin;
}

table td {
    text-align: center;
    vertical-align: middle;
  }